VITE_FIREBASE_APIKEY=your-secret-key
VITE_FIREBASE_AUTHDOMAIN=your-secret-key
VITE_FIREBASE_PROJECTID=your-secret-key
VITE_FIREBASE_STORAGEBUCKET=your-secret-key
VITE_FIREBASE_MESSAGINGSENDERID=your-secret-key
VITE_FIREBASE_APPID=your-secret-key